body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header
------------------------------------*/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#35424a 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#cc3a83;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase
------------------------------------*/
#showcase{
  min-height:500px;
  background:url('../img/PinkStars.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Introduction
------------------------------------*/
.introduction {
  padding:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}
.introduction a {
  color:#ffffff;
}

/* About
------------------------------------*/

.about {
  padding:20px;
  color:#000000;
  background-color:##fff4e6;
  text-align: center;
}
.about a {
  color:#ffffff;
}
.about .btn {
  color: #ffffff;
  background: #2F3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.about .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.about-item {
  overflow: hidden;
}
.about-item h3 {
  margin-top: 0;
}

/* Boxes
------------------------------------*/
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:90px;
}

/* Footer
------------------------------------*/

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#35424a;
  text-align: center;
}
